{% extends "__layout.twig" %}
{% block content %}
	{% include 'navigation.html.twig' %}
	<h1 style="margin-left:300;">Добавление типа кота</h1>

	{% if message %}
		<div class="alert alert-info" style="margin-left:150px;margin-right:150px;">

			{{message}}

		</div>
	{% endif %}
	<form action="" enctype="multipart/form-data" method="POST" class="row g-3" style="margin-left:150px;">
		<div class="col-4">
			<label class="form-label">Название</label>
			<input type="text" class="form-control" name="title">
		</div>

		<div class="col-4">
			<label class="form-label"></label>
			<input class="form-control" type="file" name="image">
		</div>
		<div class="col-auto">
			<button type="submit" class="type-button">Добавить</button>
		</div>
	</form>


	<style>
		select {

			
			border-radius: 10px;
			box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
			 padding: 10px 20px;
  			margin: 10px 20px;
		}
		input {
			
			border-radius: 10px;
			box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
			 padding: 10px 20px;
  			margin: 10px 20px;
		}	
		label{
			
			
			
			 padding: 10px 20px;
  			margin: 10px 20px;
		}	
	</style>
{% endblock %}
